@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #9CA777, #EBD8B2);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #f4ede2;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #8B1874;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 14px;
}

#addButton{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(to top right,#b4b88b,#B3C890);
    color: #fff;
    font: bolder;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

#addButton:hover{
    background: linear-gradient(to top right,#B3C890,#b4b88b);
}

#count-container {
    text-align: left;
    margin-bottom: 15px;
    border: 3px #DBDFAA inset;
    border-radius: 5px;
}

#count-container p {
    font: bolder;
    margin-bottom: 10px;
    color: #025464;
}

#count-container span {
    font-weight: bold;
    margin-left: 5px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    border: 2px solid;
    border-radius: 10px;
    margin: 2%;
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/assets/unchecked1.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
    margin: 2%;
}

ul li.checked::before{
    background-image: url(/assets/checked1.png);
}

ul li .remove-button {
    position: absolute;
    right: 5px;
    top: 10px;
    padding: 5px 12px;
    background: #f54e4e;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    border-radius: 100%;
}

ul li .remove-button:hover{
    background: #D21312;
    font-weight: bold;
}

ul li.checked {
    color: green;
    background-color: #f0f4ed;
    text-decoration: line-through;
    border-radius: 10px;
    margin: 2%;
}

ul#list-container-completed {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #cecaca;
}

#count-container-completed {
    margin-top: 20px;
}

#count-container-completed p {
    margin-bottom: 10px;
}

#count-container-completed span {
    font-weight: bold;
    margin-left: 5px;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
    }
    #addButton {
        padding: 12px 25px;
        font-size: 16px;
        border-radius: 8px;
    }
    #input-box{
        padding-bottom: 5%;
        background-color: #edeef0;
        border-radius: 2px;
    }
}